* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body {
        // overflow-y: hidden;
}

.w-full {
        width: 100%;
}

.font-12 {
        font-size: 12px;
        line-height: 16px;
}

.fw400 {
        font-weight: normal;
}

.fw600 {
        font-weight: 600;
}

.fw700 {
        font-weight: bold;
}

.underline {
        text-decoration: underline;
}

.pointer {
        cursor: pointer;
}

.filter-items {
        &__title {
                font-family: 'OpenSans-Bold';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 20px;
                color: #202123;
        }

        &__option {
                font-family: 'OpenSans-Regular';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                color: #202123;
        }
}

p,
span {
        font-family: "OpenSans-Regular";
        margin-bottom: 0 !important;
        font-weight: normal;
}

h1,
h2,
h3 {
        font-family: "OpenSans-Bold";
}

h4,
h5,
h6 {
        font-family: "OpenSans-Semibold";
}

h4 {
        font-size: 24px;
        line-height: 33px;
}

h5 {
        font-size: 24px;
        line-height: 28px;
}

.text-center {
        text-align: center;
}

.bg-white {
        background: white;
}

.raius-4 {
        border-radius: 4px;
}

.bg-gray {
        background: #F5F5F5;
}

.orange-text {
        color: #ff9900;
}

.red-text {
        color: rgba(255, 55, 36, 0.8);
}

.blue-text {
        color: #7284E4;
}

.d-flex {
        display: flex;
}

.align-center {
        align-items: center;
}

.justify-center {
        justify-content: center;
}

.flex-column {
        flex-direction: column;
}

#loading-bar-spinner.spinner {
        left: 50%;
        margin-left: -20px;
        top: 50%;
        margin-top: -20px;
        position: absolute;
        z-index: 19 !important;
        animation: loading-bar-spinner 400ms linear infinite;
}

#loading-bar-spinner.spinner .spinner-icon {
        width: 40px;
        height: 40px;
        border: solid 4px transparent;
        border-top-color: #00C8B1 !important;
        border-left-color: #00C8B1 !important;
        border-radius: 50%;
}

@keyframes loading-bar-spinner {
        0% {
                transform: rotate(0deg);
                transform: rotate(0deg);
        }

        100% {
                transform: rotate(360deg);
                transform: rotate(360deg);
        }
}

.justify-space-between {
        justify-content: space-between;
}