* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body {
        overflow-y: hidden;
}

.fs12 {
        font-size: 12px;
        line-height: 16px;
}

.fw400 {
        font-weight: normal;
}

.fw600 {
        font-weight: 600;
}

.fw700 {
        font-weight: bold;
}

.underline {
        text-decoration: underline;
}

.pointer {
        cursor: pointer;
}

.filter-items {
        &__title {
                font-family: 'OpenSans-Bold';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 20px;
                color: #202123;
        }

        &__option {
                font-family: 'OpenSans-Regular';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                color: #202123;
        }
}

p {
        font-family: "OpenSans-Regular";
        margin-bottom: 0 !important;
}

h1,
h2,
h3 {
        font-family: "OpenSans-Bold";
}

.blue-text {
        color: #7284E4;
}